body {
  /*background: linear-gradient( 245deg*/
  /*     ,#033163,#26c5eb,#033163);*/
  /*background-size: 600% 600%;*/
  /*-webkit-animation: Gradient 16s ease infinite;*/
  /*-moz-animation: Gradient 16s ease infinite;*/
  /*animation: Gradient 16s ease infinite;*/
  font-family: "Rubik", sans-serif !important;
  background-color: #02162b;
  letter-spacing: 1px;
  overflow-x: hidden;
  font-size: 14px;
}
img.rubik_logo {
  width: 200px;
}
/*@keyframes Gradient { */
/*   0% {*/
/*       background-position: 0 50%;*/
/*   }*/

/*   50% {*/
/*       background-position: 100% 50%;*/
/*   }*/
/*   100% {*/
/*       background-position: 0 50%;*/
/*   }*/
/*}*/
/*
 *  STYLE 4
 */
.border {
  border: 1px solid #abb6f33d !important;
}
.text-color-success {
  background-color: #ffffff;
  color: #31ab4d;
}
.text-color-warning {
  background-color: #d2b253;
}
.text-color-danger {
  background-color: #ffffff;
  color: #e64c5c;
}
.bg_blue_light_dark {
  background-color: #002853;
  color: #002853;
  border: none;
}
.text_skylight {
  color: #26c5eb !important;
}
.bg_lightsky {
  background-color: #0666ce;
  border-radius: 12px;
}
#scrollbar_width::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #033163;
  background-color: #f5f5f5;
}

#scrollbar_width::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

#scrollbar_width::-webkit-scrollbar-thumb {
  background-color: #033163;
  border: 2px solid #555555;
}
.scrollbar_width::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #033163;
  background-color: #f5f5f5;
}

.scrollbar_width::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.scrollbar_width::-webkit-scrollbar-thumb {
  background-color: #033163;
  border: 2px solid #555555;
}
.navbar-toggler {
  background-color: white;
}
a {
  color: #ffffff;
  letter-spacing: 1px;
}
a:hover {
  text-decoration: none;
  color: #26c4ea;
}
.d-grid {
  display: grid;
}
.bsc_btn {
  color: #fff;
  border: 1px solid #3d6592;
  padding: 6px 0px;
  border-radius: 8px;
  background: #09223e;
  margin: 5px 4px;
}
.two_btn_area {
  display: flex;
  background: #09223e;
  border: 1px solid #3d6592;
  color: #fff;
  padding: 4px 0px;
  border-radius: 8px;
  margin: 0 8px;
  align-items: center;
  margin: 5px 4px;
}
.bh65cx {
  background: #0053ac;
  padding: 8px 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.bh65cx span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 130px;
}
.bh66cx {
  padding: 8px 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.bh66cx span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 130px;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: rgb(244 250 250);
  font-weight: 400;
  font-size: 16px;
}
.total_wsum_main {
  padding: 100px 0 0 0;
  margin: 0 auto;
  /*min-height: 100vh;*/
  /*background-image: url(../images/bg1.png);*/

  background-color: #02162b;
}
.haertxwallets {
  background: #09223e;
  border: 1px solid #3d6592;
  color: #fff;
  padding: 4px 0px;
  border-radius: 8px;
  margin: 5px 4px;
}
.table_view_plan {
  height: 515px;
  overflow: auto;
}
.table_view_plan::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #033163;
  background-color: #f5f5f5;
}

.table_view_plan::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.table_view_plan::-webkit-scrollbar-thumb {
  background-color: #033163;
  border: 2px solid #555555;
}

/********************** swap css new 27/05/2021**************************/

span.pairsWithSymbol {
  padding: 9px 0.5rem;
  background: #033163;
  color: #ffffff;
  cursor: pointer;
  margin: 6px 0;
  border-radius: 4px;
}
.form_area_02 i {
  margin: 0 auto;
  width: 100%;
  font-size: 24px;
}

button.btn.btn-primary.mt-4 {
  border-radius: 50px;
  padding: 10px 40px;
  background: #26c5eb;
  border-color: #26c5eb;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.WSUM_value {
  width: 650px;
  margin: 0 auto;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #26c5eb !important;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 29px;
  color: #002853;
}
.btn_Connect_light {
  background-color: #26c5eb;
  color: rgb(255 255 255);
  cursor: pointer;
  box-shadow: none;
  border: 1px solid transparent;
  outline: none;
  opacity: 1;
  padding: 10px 13px;
  border-radius: 50px;
  text-align: center;
  display: grid;
  justify-content: center;
  margin: auto;
  font-size: 14px;
}
button.btn.v-btn {
  background: #26c5eb;
  color: #fff;
  font-weight: normal;
  border-radius: 50px;
}
span.view_plan_text {
  color: white;
  background: #26c5eb;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
}
i.far.fa-cog {
  color: #26c5eb;
  font-size: 20px;
  font-weight: 700;
}
.kfn_h6 h5 {
  color: #26c5eb;
}
.WSUM_value_01 {
  background: #0053ac;
  padding: 16px 0px;
  border-radius: 23px;
  color: #fff;
  letter-spacing: 1px;
  align-items: center;
}
.swapbox {
  cursor: pointer;
}
.swapbox i {
  font-size: 20px;
  color: #26c5eb;
  font-weight: 700;
}
.WSUM_value_02 {
  background: #0053ac;
  padding: 16px 0px;
  border-radius: 23px;
  color: #fff;
  letter-spacing: 1px;
}
ul#pills-tab li {
  /*display: inline-block;*/
  /*width: 31%;*/
  /*text-align: center;*/
}
.farm-tool ul li {
  margin: auto;
}
.sc-bEjcJn.jLJzwT i {
  padding: 10px;
  font-size: 20px;
  display: grid;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #033163;
  border-radius: 3px;
  color: #fff;
  margin-right: 4px;
}
.jLJzwT {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 60px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid rgb(55, 62, 80);
}

.sc-bEjcJn.jLJzwT input {
  border: 0px;
  background: transparent;
}
.swap_tab_0_1 {
  background: #033163;
  padding: 0 15px;
  border-radius: 24px;
  color: #fff;
}
.sc-bEjcJn.jLJzwT,
.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 0%);
}

.token_ticker {
  padding: 15px 15px;
  background: #033163;
  color: #fff;
  margin-bottom: 10px;
  border-radius: 30px;
}

.jbfdlkjhsd {
  height: 660px;
  overflow: auto;
  scrollbar-width: 1px;
}
.token_ticker_scrolling li {
  font-weight: 500;
  color: #033163;
  display: flex;
  align-items: center;
}
.token_ticker li {
  font-weight: 400;
}
.token_ticker_scrolling:hover {
  background: #d7dfe6;
  padding: 14px;
  border-radius: 3px;
  color: #fff;
}

.token_ticker_scrolling {
  border-bottom: 1px solid #06468c;
  padding: 14px;
}

button.btn.btn-primary.angle_down,
button.btn.btn-primary.angle_down1 {
  position: relative;
}

.angle_down,
.angle_down1 {
  position: absolute;
  right: 15px;
  bottom: 44px;
  background: transparent;
  border: 1px solid #ccc0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 0;
  float: right;
}
button.btn.btn-primary.angle_down {
  background: transparent;
  outline: none;
  border: 1px solid #ddd0;
  color: #fff;
}
.swap_tab_03 {
  background: #033163;
  padding: 0 15px;
  border-radius: 24px;
  color: #fff;
}
.angle_down,
.angle_down1:hover {
  background-color: transparent;
  border: 1px solid #68bdd200;
  color: rgb(255 255 255);
  margin: 0px !important;
}

.form_token {
  padding: 11px;
  background: transparent;
  border-radius: 3px;
}

i.far.fa-plus-circle {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: #ffffff;
  position: relative;
  z-index: 1;
  background: transparent;
  width: 36px;
  height: 36px;
  border-radius: 50px;
  align-items: center;
  margin: auto;
}

.form_area_02 {
  position: relative;
}

.btn_outline_light {
  background-color: #26c5eb;
  color: rgb(255 255 255);
  cursor: pointer;
  box-shadow: none;
  border: 1px solid transparent;
  outline: none !important;
  opacity: 1;
  padding: 13px;
  border-radius: 50px;
  width: 200px;
  text-align: center;
  display: grid;
  justify-content: center;
  margin: auto;
}

.wallet_pool {
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin: 50px 0;
}

.btn-primary.focus,
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 0%);
}
.sdmngblsdf_token {
  display: none;
}
.btn_metamask {
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  transition: 0.5s;
}
.btn_metamask:hover {
  background: #011932;
  color: #fff;
}
.footer_menu ul {
  display: grid;
  justify-content: flex-end;
  color: #ddd;
}
.footer_menu li a {
  font-weight: 400;
  color: #fff;
  transition: 0.5s;
  margin-top: 0px;
}
.footer_menu li a:hover {
  margin-top: 10px;
}
.fKxcjC {
  box-sizing: border-box;
  min-width: 0px;
  width: 100%;
  display: flex;
  padding: 25px 0 !important;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: -4px;
}
.jKOtFK {
  border: 1px solid transparent;
  border-radius: 30px;
  display: flex;
  padding: 6px;
  -webkit-box-align: center;
  align-items: center;
  background-color: #0331631c;
  margin: 2px 3px;
}
.bPGfrA {
  width: 24px;
  height: 24px;
  box-shadow: rgb(0 0 0 / 8%) 0px 6px 10px;
  border-radius: 10px;
}
.css-xy7yfl {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 500;
  font-size: 16px;
  color: #0053ac;
}
.gfLkEV {
  border: 1px solid rgb(195 195 195);
  border-radius: 30px;
  display: flex;
  padding: 6px;
  -webkit-box-align: center;
  align-items: center;
  margin: 2px 3px;
}
.jPckot {
  width: 24px;
  height: 24px;
  box-shadow: rgb(0 0 0 / 8%) 0px 6px 10px;
  border-radius: 18px;
}
/***************** Side menu bar select ********************/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 12px 8px 12px 1px;
  text-decoration: none;
  font-size: 25px;
  color: #033163;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.swapbox span {
  font-size: 13px;
}

.viewall .modal-dialog.modal-dialog-centered {
  max-width: 52%;
}
.viewall table.table.table-condensed tr td,
.viewall table.table.table-condensed tr th {
  border: 1px solid #01193247 !important;
  font-weight: 400 !important;
}
.viewall table.table.table-condensed tr th {
  background: #26c5eb !important;
  color: #fff;
}
footer.footer_bottom {
  background: #033163;
  border-top: 1px solid #26c5eb73;
  padding: 9px 0 0;
  font-size: 12px !important;
  position: relative;
  right: 0;
  bottom: -181px;
  left: 0;
}
.trans_hash_id {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 170px;
}
.liqui_hash_id {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 170px;
}
.text_skyblue {
  color: #26c5eb;
  font-weight: 500;
}
/*****************************************
                  FARMS PAGE CSS
*********************************************/
input#myInput0,
input#myInput1,
input#myInput2 {
  padding: 8px 18px;
  border-radius: 13px;
  border: 2px solid #26c5eb;
  background: #022448;
  outline: none;
  width: 100%;
  min-width: 100%;
  color: #fff;
}
.\32 0_plan_area.d-flex {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*.fnlkj_width::placeholder {*/
/*  color: #fff; */
/*}*/
.form-control::placeholder {
  color: #fff !important;
}
.address_search::placeholder {
  color: #fff !important;
}
.address_search:focus {
  color: #ffffff !important;
}
.form-control {
  color: #ffffff !important;
}
.search_tabs {
  justify-content: flex-end;
  align-items: center;
  display: inline-flex;
}

.farms_place {
  color: #fff;
  width: 203px;
  font-size: 11px;
}

.farms_place::placeholder {
  color: #fff;
  opacity: 1;
}
.farms_place:focus {
  color: #fff !important;
  opacity: 1;
}
td.hiddenRow {
  padding: 10px 0;
}
ul#myTab1 li a {
  background: #26c5ebd9;
  border: 0;
  color: #fff;
  font-size: 19px;
}

ul#myTab1 li {
  width: 100%;
  text-align: center;
}
ul#myTab1 {
}
ul#myTab1 {
  width: 100%;
}
tr.accordion-toggle {
  background: #0e427b;
  /*border: 1px solid #abb6f3d1;*/
  cursor: pointer;
}
.img h5 {
  letter-spacing: 2px;
  margin: 0;
}
.vert-move {
  -webkit-animation: mover 0.5s infinite alternate;
  animation: mover 0.5s infinite alternate;
  font-size: 23px;
  color: #26c3ea;
}
.vert-move {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(1px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(1px);
  }
}

.table td,
.table th {
  border-top: 1px solid #abb6f33d;
}
section.farms_main_div {
  padding: 60px 0px;
  /* background: #eaf8fb; */
  text-align: center;
}
.farm_heading h2,
.farm_heading h5 {
  color: #fff;
}
.maintab small {
  color: #26c5eb;
}
/*.maintab table tr th:last-child {*/

/*    border-right: 1px solid #fff !important;*/
/*}*/
.maintab table tr th,
.maintab table tr td {
  color: #fff;
  vertical-align: middle;
  text-align: center;
}
.maintab .card.card-body {
  background: #00000045;
  color: #fff !important;
}
.maintab hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgb(32 175 215 / 22%);
}
.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 1px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.Live_ckick_btn {
  position: relative;
  background: #002853;
  padding: 8px;
  border-radius: 50px;
}
.Live_ckick_btn .Live_left {
  color: #002853;
  background: #fff;
  padding: 8px 17px;
  border-radius: 50px;
  transition: 0.5s;
  transform: scale(0) translateX(0px);
}

.Live_ckick_btn:hover .Live_left {
  color: #002853;
  background: #fff;
  padding: 8px 17px;
  border-radius: 50px;
  transition: 0.5s;
  transform: scale(0) translateX(30px);
}
.table thead th {
  border-bottom: 1px solid #abb6f33d;
  font-weight: normal;
}
.form-control {
  padding: 13px 0.75rem !important;
  background-color: #fff0 !important;
  border: 1px solid #26c5eb !important;
}

/***************account defi ***************/
.accout_defi_login {
  background: #002853;
  padding: 35px;
  border-radius: 20px;
}
.btn.focus,
.btn:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 0%);
}

/***************End account defi ***************/
.table-dark {
  color: #fff;
  background-color: #002750 !important;
}
.table-dark td,
.table-dark th,
.table-dark thead th {
  border-color: #abb6f33d !important;
}
/***********************************************/
@media (max-width: 767px) {
  .viewall .modal-dialog.modal-dialog-centered {
    max-width: 100%;
  }
  .sorting_asc {
    min-width: 31px !important;
  }
  .sorting {
    min-width: 195px;
  }
  .hash_div {
    width: 60px;
    min-width: 60px;
  }
  div#pairLiquditychart1 canvas,
  div#pairLiquditychart2 canvas {
    width: 100%;
    height: 370px;
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    padding: 8px 29px;
  }
  .transaction_tabs_pools .nav-link,
  .over_tab_view .nav-link,
  .transaction_tabs .nav-link,
  .bg_skylight .nav-link {
    margin: 0 0px !important;
  }
}
td span a {
  position: relative;
  top: 4px;
}

/*=============================================OVERVIEW NEW PAGE CSS ADD =====================================================*/

.overview_main_div {
  background-color: #002853;
}
.bg_skylight {
  background-color: #0053ac;
  border-radius: 12px;
}
.top_overview_tables {
  background: #002853;
  border-radius: 9px;
  overflow: hidden;
}
.text_green {
  color: rgb(49, 208, 170);
}
.text_pink {
  color: #26c5eb;
}
.page-link {
  color: #28c8a5;
  background-color: #002853;
  border: 1px solid #002853;
}
.page-link:hover {
  color: #26c5eb;
  text-decoration: none;
  background-color: #033163;
  border-color: #033163;
}

.transaction_address {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 82px;
}
.token_list_all {
  height: 448px;
  overflow: auto;
}
img.token_img_ss {
  width: 28px;
  height: 28px;
  border-radius: 50px;
}
.breadcrumb {
  background-color: #002853;
}
.breadcrumb-item.active {
  color: #26c5eb;
}
div#qrcode {
  display: none;
}
div#DataTables_Table_0_wrapper {
  padding: 18px;
}
table.dataTable tbody th,
table.dataTable tbody td {
  padding: 15px 6px !important;
}
th.sorting {
  padding: 10px 6px !important;
}
.factor {
  background: #002853;
  border-radius: 10px;
}
.Authentication {
  background: #002853;
  border-radius: 10px;
  transition: 0.5s;
  margin-top: 0;
  margin-bottom: 0;
}
.Authentication:hover {
  margin-top: -15px;
  margin-bottom: 0;
}
i.fab.fa-android,
i.fab.fa-apple {
  color: #002853;
  font-size: 20px;
}
.btn-Disable {
  width: 44%;
}
a.canvasjs-chart-credit {
  display: none;
}
div#chartContainerLiquidity canvas,
div#chartContainer canvas,
div#pairLiquditychart1 canvas {
  height: 370px;
  min-height: 370px;
  border-radius: 12px;
}
div#pairLiquditychart2 canvas {
  width: 100% !important;
  height: 370px;
  min-height: 370px;
  border-radius: 12px;
}
input[type="search"] {
  color: #fff !important;
}
table.dataTable thead th,
table.dataTable thead td {
  border-bottom: 1px solid #294a7900 !important;
}
table.dataTable.no-footer {
  border-bottom: 1px solid #294a79 !important;
}
.transaction_tabs_pools .nav-link,
.over_tab_view .nav-link,
.transaction_tabs .nav-link,
.bg_skylight .nav-link {
  border-radius: 50px;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 29px;
  margin: 0 16px;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(255 255 255 / 94%);
  font-size: 16px;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: rgb(38 197 235) !important;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(38 197 235);
}
.htz_liquidity_add img,
.bg_lightsky img {
  border-radius: 50px;
}
